html,body{
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.clear{
    clear: both;
}

.container{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

/* header */
header{
    padding: 20px 2%;
}

header .logo img{
    float: left;
    width: 236px;
}

header nav{
    float: right;
}

header nav ul{
    padding: 8px 0;
}

header nav ul li{
    float: left;
    font-size: 14px;
    padding: 0 20px;
    text-transform: uppercase;
}

header ul a{
    text-decoration: none;
    color: #b4b4b4;
}
/****/